<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>UserLogin</title>
</head>
<body>
    <div>
        <h2>
            User Login
        </h2>
        <form action="/user/login" method="post">
            <input type="text" name="Username" placeholder="Username" required class="ip">
            <br>
            <input type="password" name="Password" placeholder="Password" required class="ip">
            <br>
            <button type="submit">Login</button>
            <br>
            <p>Don't have an account? <a href="http://localhost:3000/user/signup">SignUp</a></p>

        </form>
    </div>
    
</body>
</html>