<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <div>
        <h2>
            User Signup
        </h2>
        <form action="/user/signup" method="post">
            <input type="text" name="Username" placeholder="Username" required class="ip">
            <br>
            <input type="password" name="Password" placeholder="Password" required class="ip">
            <br>
            <button type="submit">Signup</button>
        </form>
    </div>
    
</body>
</html>